<!-- This is the Launch file that starts the simulation and controls the robot as a HOLONOMIC robot -->

<launch>
    <!-- Start Stage simulator with a given environment -->
    <node name="Stage" pkg="stage_ros" type="stageros" args="$(find rt_assignment_1)/world/exercise.world" />

    <!-- Staring the Server for generating random targets -->
    <node pkg="rt_assignment_1" type="remote_server.py" name="random_target_gen" output="screen" />

    <!-- Starting the robot controller -->
    <node pkg="rt_assignment_1" type="robot_controller_1.py" name="robot_controller_h" output="screen" />
</launch> 
